__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
dist/
build/
*.egg-info/
.mypy_cache/
.pytest_cache/
.env.*
tests/*
scratch/*
service-account.json
docs/
legacy_migrations/*
alembic.ini
pytest.ini
alembic/*
backups/*
truncate_db.py
scripts/
scripts/*
scratch_real_token.txt